# Bright Data(Scraping Browser) Credentials
BD_USERNAME=''
BD_PASSWORD=''
BD_HOST=''

# Zyte(Smart Proxy Manager) Credentials
ZYTE_APIKEY=''

# Browserless.io(web scraping and browser automation) Credentials
BLESS_APITOKEN=''

# Browser Mode (brightdata, zyte, browserlessio, local)
BROWSER_TYPE=''