# Bright Data(Scraping Browser) Credentials
BD_USERNAME=''
BD_PASSWORD=''
BD_HOST=''

# Zyte(Smart Proxy Manager) Credentials
ZYTE_APIKEY=''

# Browserless.io(web scraping and browser automation) Credentials
BLESS_APITOKEN=''

# Browser Mode (brightdata, zyte, browserlessio, local)
BROWSER_TYPE=''

# Server
PORT=

# Database
DB_URI=''

# AUTH
MAGIC_LINK_SECRET=''

# Nodemailer Creds
NM_USER=''
NM_PASS=''
NM_HOST=''
NM_PORT=
DOMAIN_NAME=''

# Express Session
SESSION_SECRET=''
